$themes: (
  light: (
    bg: white,
    text: #2C2A1D,
    sidebar: #6200EE,
    accent: #C53A39,
    subtitles: #717171,
  ),
  dark: (
    bg: #2C2A1D,
    text: white,
    sidebar: darkred,
    accent: #C53A39,
    subtitles: #717171,
  ),
);

/* Implementation of themes */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
