@import 'themes.scss';

.content {
  @include themify($themes) {
    background: themed('contentbg');
    color: themed('text');
  }
}

.section {
  margin-bottom: 28px;
  min-height: 100px;
  @include themify($themes) {
    background: themed('contentbg');
    color: themed('text');
  }

  ::selection {
    @include themify($themes) {
      background: themed('accent');
      color: themed('bg');
    }
  }
  .section-title {
    margin-top: 0;
    margin-bottom: 8px;
    white-space: nowrap;
    font-size: 1.45rem;
    font-weight: 800;
    text-transform: uppercase;
    @include themify($themes) {
      color: themed('text');
    }
    em {
      font-style: normal;
      font-weight: 900;
    }
  }
  .section-description {
    margin-top: 0;
    margin-bottom: 14px;
    text-align: justify;
  }
}

.item {
  line-height: 1.3;
}

.item-simple {
  margin-top: 0;
  margin-bottom: 4px;

  &:after {
    clear: both;
    content: "";
    display: block;
  }
  .date {
    display: inline-block;
    width: 64px;
    text-align: center;
  }
  .title {
    font-weight: bolder;
  }
  .organization {
    margin: 0 5px;
    font-weight: 100;
    text-align: justify;
  }
  .location {
    display: none;
    float: right;
    padding: 2px 6px;
    font-size: 11px;
    font-weight: bold;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    @include themify($themes) {
      background: themed('accent');
      color: themed('bg');
    }
  }
}

.item-detail {
  margin-top: 10px;
  margin-bottom: 20px;

  .image {
    max-width: 50px;
    display: inline-block;
    float: left;
  }
  .title {
    display: inline-block;
    width: 100%;
    font-weight: bolder;
  }
  .organization {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    @include themify($themes) {
      color: themed('subtitles');
    }
  }
  .location {
    display: none;
    width: 100%;
    text-align: right;

    i {
      padding: 2px 6px;
      font-size: 11px;
      font-weight: bold;
      font-style: normal;
      vertical-align: middle;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: white;
      @include themify($themes) {
        background: themed('accent');
      }
    }
  }
  .date {
    display: inline-block;
    width: 100%;
    text-align: left;
    @include themify($themes) {
      color: themed('subtitles');
    }
  }
  .descriptions {
    display: table;
    list-style: none;

    li {
      display: table-row;
    }
    li:before {
      content: "»";
      display: table-cell;
      padding-right: 1em;
      text-align: right;
    }
  }
}

.item-education {
  margin-top: 0;
  margin-bottom: 20px;
  .image {
    max-width: 50px;
    display: inline-block;
    float: left;
  }
  .school {
    display: inline-block;
    width: 100%;
    font-weight: bolder;
  }
  .degree {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    @include themify($themes) {
      color: themed('subtitles');
    }
  }
  .location {
    display: none;
    width: 100%;
    text-align: right;

    i {
      padding: 2px 6px;
      font-size: 11px;
      font-weight: bold;
      font-style: normal;
      vertical-align: middle;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: white;
      @include themify($themes) {
        background: themed('accent');
      }
    }
  }
  .date {
    display: inline-block;
    width: 100%;
    text-align: left;
    @include themify($themes) {
      color: themed('subtitles');
    }
  }
  .descriptions {
    display: table;
    list-style: none;

    li {
      display: table-row;
    }
    li:before {
      content: "»";
      display: table-cell;
      padding-right: 1em;
      text-align: left;
      max-width: 50px;
    }
  }
}

.item-github {
  margin-top: 0;
  margin-bottom: 20px;

  .name {
    display: inline-block;
    font-weight: bolder;
  }
  .title {
    display: inline-block;
    text-transform: uppercase;
    @include themify($themes) {
      color: themed('subtitles');
    }

  }
  .star {
    display: none;
    width: 100%;
    text-align: right;

    i {
      padding: 2px 6px;
      font-size: 11px;
      font-weight: bold;
      font-style: normal;
      vertical-align: middle;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: white;
      @include themify($themes) {
        background: themed('accent');
      }
    }
    i:before {
      content: "\f005";
      margin-right: 0.5em;
      font-family: FontAwesome;
    }
  }
}

.skill-list {
  width: 100%;
  margin-bottom: .75em;
  .title {
    //font-weight: bolder;
    position: relative;
    display: inline-block;
    text-align: right;
    width: 175px;
    margin-right: 25px;
  }
  .skill-items {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    width: calc(100% - 200px);
  }
  .item-skill {
    width: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    @include themify($themes) {
      color: themed('subtitles');
    }
    i {
      font-size: 1.5rem;
      vertical-align: bottom;
      margin-bottom: 2px;
      margin-right: 2px;
      @include themify($themes) {
        color: themed('accent');
      }
    }
  }
}
.item-skill-cat {
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline-block;
  list-style-type: none;
  .item-skill-cat:after {
    clear: both;
    content: "";
    display: inline-block; 
  }
  .item-skill-cat .title {
    min-width: 200px;
    font-weight: bolder;
  }
  .item-skill-cat .skill-list {
    margin: 0 5px;
    font-weight: 100;
    text-align: justify;
  }
  }

/*
 * Wide Layout
 */
@media screen and (min-width: 1024px) {
  .item-simple {
    .location {
      display: inline-block;
    }
  }
  .item-detail {
    .title {
      width: 80%;
    }
    .organization {
      width: 80%;
    }
    .location {
      display: inline-block;
      width: 20%;
    }
    .date {
      width: 20%;
      text-align: right;
    }
  }
  .item-github {
    .star {
      display: inline-block;
      width: 20%;
    }
  }
}
