$themes: (
  light: (
    bg: #E0E0E0,
    contentbg: white, 
    text: #2C2A1D,
    sidebar: #6200EE,
    accent: #3700B3,
    subtitles: #717171,
  ),
  light-red: (
    bg: #E0E0E0,
    contentbg: white, 
    text: #2C2A1D,
    sidebar: #C41010,
    accent: #D22020,
    subtitles: #717171,
  ),
  light-original: (
    bg: #E0E0E0,
    contentbg: white, 
    text: #2C2A1D,
    sidebar: #6200EE,
    accent: #C53A39,
    subtitles: #717171,
  ),
  dark: (
    bg: black,
    contentbg: #212121,
    text: white,
    accent: #6200EE,
    sidebar: #3700B3,
    subtitles: #BDBDBD,
  ),
  dark-red: (
    bg: #black,
    contentbg: #212121, 
    text: white,
    sidebar: #C41010,
    accent: #D22020,
    subtitles: #717171,
  ),
);

/* Implementation of themes */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
